aiohttp==3.7.4.post0
aiohttp-jinja2==1.5
aioopenssl==0.6.0
aiosasl==0.5.0
aioxmpp==0.13.3
arrow==1.2.3
async-timeout==3.0.1
attrs==23.1.0
Babel==2.12.1
certifi==2023.7.22
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.3.0
contourpy==1.0.7
cryptography==40.0.2
cycler==0.11.0
dnspython==2.3.0
fonttools==4.39.0
graphics.py==5.0.1.post1
idna==3.4
Jinja2==3.1.2
jinja2-time==0.2.0
kiwisolver==1.4.4
lxml==4.9.2
MarkupSafe==2.1.2
matplotlib==3.7.1
multidict==4.5.2
numpy==1.24.2
packaging==23.0
Pillow==9.4.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycparser==2.21
pydicom==2.3.1
pyOpenSSL==23.1.1
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
python-dateutil==2.8.2
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
requests==2.31.0
singletonify==0.2.3
six==1.16.0
sortedcollections==2.1.0
sortedcontainers==2.4.0
spade==3.2.3
timeago==1.0.8
types-pytz==2023.3.1.1
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
urllib3==2.0.6
yarl==1.9.2
